:root {
  --font: Inter;
  --font-mono-space: JetBrainsMono Nerd Font;

  /* accent, link, selection background */
  --accent: var(--purple-1);
  --accent-secondary: var(--blue-1);
  --accent-tertiary: var(--yellow-1);

  /* Backgrounds */
  --base: #080808; /* @nix settings.base */
  --section: #181818; /* @nix settings.section */
  --card: #353535; /* @nix settings.card */

  --input: var(--black-2);
  --overlay: var(--black-2);

  /* Layout */
  --spacing-0: 3px;
  --spacing-1: 8px;
  --spacing-2: 12px;

  --border-1: 0px;
  --border-2: 0px;

  --radius-1: 8px; /* @nix settings.radius-1 */
  --radius-2: 12px; /* @nix settings.radius-2 */
  --radius-3: 18px; /* @nix settings.radius-3 */

  /* Main text, Headlines */
  /* Punctuation (brackets, semicolons, etc.) */
  --text: var(--white-3); /* @nix settings.text */

  /* Subtext, Sub Headline, comment */
  --subtext: var(--white-1); /* @nix settings.subtext */

  /* black */
  --black-4: #515151;
  --black-3: #404040;
  --black-2: #303030;
  --black-1: #1d1d1d;
  --black-0: #141414; /* @nix settings.black */

  /* white */
  --white-4: #ffffff; /* @nix settings.white */
  --white-3: #f0f0f0;
  --white-2: #dfdfdf;
  --white-1: #cacaca;
  --white-0: #ababab;

  /* error, remove, close, delete */
  /* Tags (HTML/XML), annotations */
  --red: #ff596b; /* @nix settings.red */

  /* warning */
  /* Numbers, numeric literals */
  --orange: #ffa062; /* @nix settings.orange */

  /* info, help */
  /* Classes, constructors, special types */
  --yellow: #fffb77; /* @nix settings.yellow */

  /* Strings, text content */
  --green: #99ff82; /* @nix settings.green */

  /* success, new, add */
  /* Variable names, constants */
  --teal: #80ffc1; /* @nix settings.teal */

  /* Attributes, properties (HTML/CSS/JSX) */
  --cyan: #7ef8fe; /* @nix settings.cyan */

  /* neutral */
  /* Function names, declarations */
  --blue: #83bbff; /* @nix settings.blue */

  /* modified, changed, edit */
  /* Keywords, reserved words, important terms */
  --purple: #a386ff;

  /* Operators (+, -, *, etc.) */
  --pink: #fe99fe;

  --brown: #ba8d70;
}

body {
  color: var(--text);
  background: var(--base);
}

.card {
  width: 100%;
  background: var(--card);
  padding: 1rem;

  border: var(--border-1) solid var(--black-3);
  border-radius: var(--radius-1);
}

.card-2 {
  background: var(--card2);
}

.feed {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  margin: auto;
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  margin: var(--spacing-0);
}

h2 {
  margin: var(--spacing-0);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

/* Inputs */

textarea,
input,
button,
select {
  border: var(--border-1) solid var(--black-3) !important;
  height: var(--size-1);
  color: var(--text);
  border: none;
  background: var(--input);
  padding: var(--spacing-1);
  border-radius: var(--radius-1);
}

input[type="color"] {
  -webkit-appearance: none; /* Remove default styling on WebKit browsers */
  -moz-appearance: none; /* Remove default styling on Firefox */
  appearance: none; /* Standardized appearance */

  border: none;
  padding: 0;
  margin: 0;
  width: var(--size-3); /* Adjust width as needed */
  height: var(--size-2); /* Adjust height as needed */
  cursor: pointer;

  /* Optional: Add a smooth border for focus */
  border-radius: 6px;
  box-shadow: none;
}

/* For WebKit browsers: ensure no extra area around the swatch */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px; /* Match parent border-radius */
}

/* For Firefox: ensure no extra area around the swatch */
input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 5px;
}

input:focus,
button:focus,
a:focus,
textarea:focus,
select:focus {
  outline-style: solid;
  outline-width: var(--border-1);
  outline-color: var(--accent-primary-1);

  &.primary {
    outline-color: var(--accent-primary-2) !important;
    outline-width: var(--border-2) !important;
  }
}

textarea {
  height: 400px;
}

nav {
  display: flex;
  align-items: center;
}

.primary {
  background: var(--accent-primary-1);

  &:hover {
    background: var(--accent-primary-2);
  }

  &:active {
    background: var(--accent-primary-3);
  }
}

.secondary {
  background: var(--accent-secondary-1);
}

/* Syntax Highlighting */

code {
  overflow: hidden;
  font-family: var(--font-mono-space);
}

.hljs {
  color: var(--text);
  background: transparent;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: var(--keyword);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: var(--function);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: var(--number);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: var(--string);
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: var(--variable);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: var(--comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: var(--tag);
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: var(--variable);
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: var(--selection-background);
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: var(--selection-background);
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: var(--selection-background);
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: var(--selection-background);
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: var(--success);
  background-color: var(--base);
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: var(--error);
  background-color: var(--base);
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
